/* src/components/AddButton.css */
.add-button {
  position: relative;
}

.add-button button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  width: 200px;
  margin: 2px;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  color: black;
}

.dropdown-menu button:hover {
  background-color: #f5f5f5;
}
